<a href="https://colab.research.google.com/github/p2abc/python101/blob/main/Copy_of_A10_exploring_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)
* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [ ]:
#@title Lists: An Introduction

#Data Type
#List Type

x = [10, 20 , 3, -5, "hello" , True , 3.4]
#what is the data type of x
print("List of elements: ", x)

print("data type", type(x))

List of elements:  [10, 20, 3, -5, 'hello', True, 3.4]
data type <class 'list'>

In [ ]:
#@title 1.Creating an empty list

x = []

print(x) 
print("length of this list:  " , len(x))

[]
length of this list:   0

In [ ]:
#@title 2.Creating a list with some elements

x = [10, 40 , 22]
print(x)

[10, 40, 22]

In [ ]:
#@title 3.Adding elements at the end
x = [10, 40 , 22]

x.append(20)
x.append(-10)
x.append('bob')
#x.append(3,1)

print(x)

[10, 40, 22, 20, -10, 'bob']

In [ ]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"

x = [10, 40, 22, 20, -10, 'bob']
first = x[0]

print("first element: " , first)

x = [10, 40, 22, 20, -10, 'bob']
fourth = x[3]

print("4th element: " , fourth)

first element:  10
4th element:  20

In [ ]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"

x = [10, 40, 22, 20, -10, 'bob', 10, 40, 22, 20, -10, 'lol', 10, 40, 22, 20, 'cool', 'bff']
count = len(x)
last_element = x[count - 1]

print("last element:  " , last_element)

last_element = x[- 1]

print("last element: " , last_element)

second_from_last = x[-2]
print("second_from_last: " , second_from_last)

last element:   bff
last element:  bff
second_from_last:  cool

In [ ]:
#@title 6.Adding an element at the front of the list


my_list = [4, 3, 2]

print(my_list)

my_list.insert(0,10)
print(my_list)

my_list.insert(2,20)
print(my_list)

my_list.insert(2,20)
print(my_list)

my_list.insert(-1 , 40)
print(my_list)

my_list.append(50)
print(my_list)

[4, 3, 2]
[10, 4, 3, 2]
[10, 4, 20, 3, 2]
[10, 4, 20, 20, 3, 2]
[10, 4, 20, 20, 3, 40, 2]
[10, 4, 20, 20, 3, 40, 2, 50]

In [ ]:
#@title 7.Adding an element anywhere (at a specific index) 
my_list = [4, 3, 2]

print(my_list)

my_list.insert(2,20)
print(my_list)

[4, 3, 2]
[4, 3, 20, 2]

In [ ]:
#@title 8.Updating (or Replacing) an element

my_list = [4, 3, 2]

print(my_list)

my_list[1] = 10

print(my_list)

my_list[0] = 'python'

print(my_list)

[4, 3, 2]
[4, 10, 2]
['python', 10, 2]

In [65]:
#@title 9.Looping through the list (just for READING)

my_list = [3, 4, 2, 2, 4]

total = 0

for x in my_list: 

  total = total + x

print ('total of the list' , total)

total = sum(my_list)

print('total of the list' , total)

total of the list 15
total of the list 15

In [84]:
#@title 10.Looping through the list (for UPDATING)

my_list = [5, 6, 3, 4]

print(my_list)

length = len(my_list)

for i in range(length):

  current_element = my_list[i]

  my_list[i] = current_element + 10

print(my_list)

[5, 6, 3, 4]
[15, 16, 13, 14]

In [ ]:
#@title 11.Common Operations: Find the length of the list
# Find the number of elements in the list

In [ ]:
#@title 12.Common Operations: Find the maximum in the list

In [ ]:
#@title 13.Common Operations: Find the minimum in the list

In [ ]:
#@title 14.Common Operations: Find the sum of elements in the list

In [ ]:
#@title 14.Removing an element by value

In [ ]:
#@title 15.Removing the last element in the list

In [ ]:
#@title 16.Removing an element at a given index

In [ ]:
#@title 17.Extending a list
#(Adding several elements to one list)

In [ ]:
#@title 18.Search for an element. What is the index?

In [ ]:
#@title 19.Count the number of times an element is appearing

In [ ]:
#@title 20.Checking for Membership (in)

54.3 ns ± 5.4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
#@title 21.Checking for Membership (not in)

In [ ]:
#@title 22.Reverse a list

In [ ]:
#@title 23.Sort a list

In [ ]:
#@title 24.Copy a list (Caution: Don't reassign)

In [ ]:
#@title 25.Clear (Empty) a list
#Delete all the elements in the list

In [ ]:
#@title 26.Delete the entire list

In [ ]:
#@title 27.Cool Operation: You can add lists

In [ ]:
#@title 28.Cool Operation: You can multiply/repeat a list

In [ ]:
#@title 29.Cool Operation: You can convert a range to a list

In [ ]:
#@title 30.Common Operations: Find the length (Using Built-in Function)

In [ ]:
#@title 31.Common Operations: Find the maximum in the list (Using Built-in Function)

In [ ]:
#@title 32.Common Operations: Find the minimum in the list (Using Built-in Function)

In [ ]:
#@title 33.Common Operations: Find the sum of elements in the list (Using Built-in Function)

In [ ]:
#@title 34.Common Operations: Find the average of elements in the list (Using Built-in Function)

In [ ]:
#@title 35.Common Operations: Find whether the list has any duplicate elements

In [ ]:
#@title 36.Common Operations: Multiply / Divide / Do something to every element in the list

In [ ]:
#@title 37.List Unpacking (N to <N mapping)

In [ ]:
#@title 38.List Unpacking (N to <N mapping)

In [ ]:
#@title 39.Printing a List (*)

In [ ]:
#@title 40.List Slicing

In [ ]:
#@title 41.List Comprehension

In [ ]:
#@title 42.Two Dimenstional Lists  (List of Lists)

In [ ]:
#@title 43.Zipping two or three lists

In [ ]:
#@title 44.Applying a map funciton on the lists